span {
position: fixed;
offset: right;
}


div{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 200px;
}

#div0{

    background-color: aquamarine;
    margin-left: 10%;
}

#div1{

    background-color: aqua;
    margin-left: 50%;
}
.button{

    border-radius: 30px;
}

h1{
  color: purple;
}