span {
position: fixed;
offset: right;
}

#div0{

    background-color: aquamarine;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-left: 40px;

}

#div1{

    background-color: aqua;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-left: 280px;
}
.button{

    border-radius: 30px;
  
}

h1{
  color: purple;
}