span {
position: fixed;
offset: right;}

#div0{

    background-color: aquamarine;

}

#div1{

    background-color: aqua;
    padding-bottom: 60px;
}
.button{

    border-radius: 30px;
    padding-left: 60px;
}